body {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    margin: 0;
    background-color: #2c3e50;
    font-family: Arial, sans-serif;
    position: relative;
    color: #fff;
}

.container {
    max-width: 600px;
    padding: 20px;
    text-align: center;
    background-color: #fff;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    border-radius: 10px;
    color: #000;
}

.question {
    display: none;
    padding: 20px;
    margin-bottom: 20px;
    background-color: #fff;
    border: 1px solid #ccc;
    border-radius: 5px;
}

.question.active {
    display: block;
}

.question p {
    font-size: 1.2em;
    margin: 0;
    padding-bottom: 10px;
}

input[type="text"] {
    width: 100%;
    padding: 10px;
    font-size: 1.2em;
    margin-top: 10px;
    color: #000;
    background-color: #fff;
    border: 1px solid #ccc;
    border-radius: 5px;
}

input[type="text"]::placeholder {
    color: #bbb;
}

.navigation {
    margin-top: 30px;
}

.navigation button {
    padding: 10px 20px;
    font-size: 1em;
    cursor: pointer;
    margin: 5px;
    background-color: #fff;
    color: #000;
    border: 1px solid #ccc;
    border-radius: 5px;
}

.navigation button:hover {
    background-color: #3498db;
}

.help-box {
    position: fixed;
    bottom: 20px;
    right: 20px;
    padding: 10px 20px;
    background-color: #fff;
    color: #000;
    border: 1px solid #ccc;
    border-radius: 5px;
    cursor: pointer;
    font-size: 1em;
    z-index: 1000;
}

.help-box:hover {
    background-color: #3498db;
}

.chat-box {
    display: none;
    position: fixed;
    bottom: 70px;
    right: 20px;
    width: 300px;
    background-color: #fff;
    border: 1px solid #ccc;
    border-radius: 5px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    z-index: 1000;
}

.chat-box header {
    background-color: #2c3e50;
    color: #fff;
    padding: 10px;
    text-align: center;
    border-top-left-radius: 5px;
    border-top-right-radius: 5px;
}

.chat-box .messages {
    max-height: 200px;
    overflow-y: auto;
    padding: 10px;
}

.chat-box .input {
    display: flex;
    align-items: center;
    padding: 10px;
    background-color: #f0f0f0;
    border-bottom-left-radius: 5px;
    border-bottom-right-radius: 5px;
}

.chat-box .input input[type="text"] {
    flex: 1;
    padding: 8px;
    margin-right: 5px;
    border: 1px solid #ccc;
    border-radius: 3px;
    font-size: 0.9em;
}

.chat-box .input button {
    padding: 8px 15px;
    background-color: #2c3e50;
    color: #fff;
    border: none;
    border-radius: 3px;
    cursor: pointer;
    font-size: 0.9em;
}

.chat-box .input button:hover {
    background-color: #1a252f;
}
